header, footer, #nav {
	font-family: 'Barlow'; 
	font-style: normal;
	font-size: .75em;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}
header {
	position: relative;
	height: 50px;
	margin: auto;
	padding-top: 10px;
	clear:both;
	/*border: solid 1px #eee;*/
}
#nav, footer {
	margin: 20px 0px 20px;
	position: relative;
	clear: both;
/*	border: solid 1px #eee;*/
}
#outercontainer {
	position:relative;
	margin:auto;
	margin-top: 70px;
/*	width:80%;*/
	min-width: 630px;
	clear: both;
	overflow: auto hidden;
/*	border: solid 1px #eee;*/
}
.h1 {
	font-size: 1.5em;
	font-weight: 500;
	letter-spacing: 5px;
	text-align: left;
	position: absolute;
	bottom: 0px;
	right: 0px;
	float:right;
}
.h1:hover {
	color: #000;
}
.h2 {
	font-family: 'Barlow';
	font-style: normal;
	font-size: 1em;
	font-weight: 500;
	letter-spacing: 4px;
	text-transform: uppercase;
}
.h3 {
	font-family: 'Barlow'; 
	font-style: normal;
	font-size: .75em;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.h4 {
	text-align: left;
	position: absolute;
	bottom: 0px;
	right: 0px;
	float:right;
}
.h5 {
	font-family: 'Barlow';
	font-style: normal;
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 5px;
	text-transform: uppercase;
}
body {
	font-family: 'Cutive Mono';
	font-style: normal;
	font-weight: 400;
	font-size: .95em;
	position: relative;
	width: 99%;
	min-height: 90%;
	/*border: solid 1px #eee;*/
}
#aboutcontent {
	margin-bottom: 20px;
	/*border: solid 1px #eee;*/
}
#content, #project-content {
	padding: 2em 0 2em;
}
ul {
	position:relative;
	margin:0px;
	padding:0px;
	width:100%;
	display: inline;
}
li {
	list-style: none;
	display: inline;
}
ul li:hover ul {
	display: inline-block;
}
ul ul {
	position: absolute;
	top:1.25em;
	left:0px;
	display: none;
}
ul ul a {
	color:#555;
}
a {
	text-decoration:none;
	color:#000000;
}
a:hover, #nav span:hover {
	color:#aaa;
}
a:hover, .link:hover {
	cursor:pointer;
	text-decoration: underline;
}
#AL {
	height: 50px;
}
.thumb {
	position: relative;
	margin-bottom: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: auto;
}
.caption {
	margin-bottom: 20px;
}
.img-single {
	position: relative;
	margin-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 100%;
}
.img-row {
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin-bottom: 20px;
	height: auto;
	width: 100%;
}
.img-row > div:not(:last-child) {
	margin-right: 20px;
}
.img-row img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}
.img-grid {
	position: relative;
	overflow: hidden;
	height: auto;
	flex-wrap: wrap;
	clear: both;
}
.img-grid img {
	height: auto;
}
.img-grid > div {
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
}
.img-16-9 {
	flex: 1.7778;
}
.img-3-2 {
	flex: 1.5;
}
.img-4-3 {
	flex: 1.3333;
}
.img-5-4 {
	flex: 1.25;
}
.img-1-1 {
	flex: 1;
}
.img-3-4 {
	flex: 0.75;
}
.img-5-7 {
	flex: 0.7143;
}
.img-2-3 {
	flex: 0.6667;
}
.img-9-16 {
	flex: 0.5625;
}
.outline {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border: solid 1px #ccc;
}

/*XXL screen*/
@media screen and (min-width:1441px) {
	#outercontainer {
		width: 1290px;
	}
	.thumb {
		max-width: 1290px;
		max-height: 726px;
	}
	.img-grid {
		width: 1310px;
	}
	.img-grid img {
		max-width: 307px;
	}
	p {
	width: 70%;
	}
}
/*XL screen*/
@media screen and (min-width:1025px) and (max-width:1440px) {
	#outercontainer {
		width: 960px;
	}
	.thumb {
		max-width: 960px;
		max-height: 540px;
	}
	.img-grid {
		width: 980px;
	}
	.img-grid img {
		max-width: 306px;
	}
	p {
	width: 80%;
	}
}
/*L tablet (landscape)*/
@media screen and (min-width:801px) and (max-width:1024px) {
	#outercontainer {
		width: 800px;
	}
	.thumb {
		max-width: 800px;
		max-height: 450px;
	}
	.img-grid {
		width: 820px;
	}
	.img-grid img {
		max-width: 390px;
	}
	p {
	width: 80%;
	}
}
/*M tablet (portrait)*/
@media screen and (min-width:601px) and (max-width:800px) {
	#outercontainer {
		width:600px;
	}
	.thumb {
		max-width: 600px;
		max-height: 338px;
	}
	.img-grid {
		width: 620px;
	}
	.img-grid img {
		max-width: 290px;
	}
}
/*S phone (landscape)*/
@media screen and (min-width:415px) and (max-width:600px) {
	#outercontainer {
		width: 400px;
	}
	.thumb {
		max-width: 400px;
		max-height: 225px;
	}
	.img-grid {
		width: 420px;
	}
	.img-grid img {
		max-width: 190px;
	}
}
/*XS phone (portrait)*/
@media screen and (max-width:414px) {
	#outercontainer {
		width: 98%;
	}
	.thumb {
		max-width: 480px;
		max-height: 270px;
	}
	.img-grid {
		width: 98%;
	}
	.img-grid img {
		max-width: 45%;
	}
}