body {
	font-family: 'Cutive Mono';
	font-style: normal;
	font-weight: 400;
	font-size: .95em;
	line-height: 1.2em;
	position: relative;
	width: 99%;
	min-height: 90%;
	/*border: solid 1px #eee;*/
}
header, footer, nav {
	font-family: 'Barlow'; 
	font-style: normal;
	font-size: .75em;
	font-weight: 300;
	letter-spacing: 3px;
	text-transform: uppercase;
}
header {
	position: relative;
	height: 50px;
	margin: auto;
	padding-top: 10px;
	clear:both;
	/*border: solid 1px #eee;*/
}
nav, footer {
	margin: 20px 0px 20px;
	position: relative;
	clear: both;
/*	border: solid 1px #eee;*/
}
#outercontainer {
	position:relative;
	margin:auto;
	margin-top: 70px;
	min-width: 630px;
	clear: both;
	overflow: auto hidden;
/*	border: solid 1px #eee;*/
}
.h1 {
	font-size: 1.75em;
	font-weight: normal;
	font-weight: 500;
	letter-spacing: 5px;
	text-align: left;
	position: absolute;
	display: inline;
	margin-bottom: 0px;
	bottom: 0px;
	right: 0px;
	float: right;
}
.h1:hover {
	color: #000;
	text-decoration: none;
}
.h5 {
	font-family: 'Barlow';
	font-style: normal;
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 5px;
	text-transform: uppercase;
	display: block;
	margin-bottom: 0.5px;
}
.h2 {
	font-family: 'Barlow';
	font-style: normal;
	font-size: 1em;
	font-weight: 500;
	letter-spacing: 4px;
	text-transform: uppercase;
	display: inline;
}
.h3 {
	font-family: 'Barlow'; 
	font-style: normal;
	font-size: .75em;
	font-weight: 500;
	letter-spacing: 3px;
	text-transform: uppercase;
	display: inline;
}
.h4 {
	text-align: left;
	position: absolute;
	bottom: 0px;
	right: 0px;
	float:right;
}
.h6 {
	font-family: 'Libre Baskerville';
	font-style: italic;
	font-size: 1.375em;
	font-weight: 400;
	line-height: 1.375em;
}
.h7 {
	font-family: 'Libre Baskerville';
	font-style: normal;
	font-size: 1.0em;
	font-weight: 400;
	line-height: 3.0em;
}
fig {
	text-align: center;
}
hr {
	background: #000;
	border: 0px;
	height: 1px;
}
#aboutcontent {
	margin-bottom: 20px;
	/*border: solid 1px #eee;*/
}
#content, #project-content {
	padding: 2em 0 2em;
	overflow: hidden;
}
nav ul {
	position:relative;
	margin:0px;
	padding:0px;
	width:100%;
	display: inline;
}
nav ul li {
	list-style: none;
	display: inline;
}
nav ul li:hover ul {
	display: inline-block;
}
a {
	text-decoration:none;
	color: #000;
}
a:hover, .link:hover, nav span:hover {
	color: #aaa;
	cursor: pointer;
	text-decoration: underline;
}
sup {
	line-height: 0.6em;
}
.text-center {
	text-align: center;
}
.text-right {
	align-items: center;
}
.text-right p {
	width: 100%;
}
.text-ref {
	font-size: .8em;
	line-height: 1em;
}
#AL {
	height: 50px;
}
.img-thumb {
	position: relative;
	margin-bottom: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: auto;
}
.caption {
	margin-bottom: 20px;
}
.img-single {
	position: relative;
	margin-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 100%;
}
.flex-row {
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-basis: auto;
	margin-bottom: 20px;
	height: auto;
	width: 100%;
	align-items: center;
}
.flex-row > div:not(:last-child), .flex-row > fig:not(:last-child) {
	margin-right: 20px;
}
.flex-row img {
	width: 100%;
	height: auto;
	vertical-align: middle;
	margin-bottom: 10px;
}
.flex-row > div > p {
	width: 100%;
}
.flex-grid {
	position: relative;
	overflow: hidden;
	height: auto;
	flex-wrap: wrap;
	clear: both;
}
.flex-grid img {
	height: auto;
}
.flex-grid > div {
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
}
.flex-16-9 {
	-webkit-flex: 1.7778;
	-webkit-box-flex: 1.7778;
	-moz-flex: 1.7778;
	-moz-box-flex: 1.7778;
	-ms-flex: 1.7778;
	flex: 1.7778;
}
.flex-3-2 {
	-webkit-flex: 1.5;
	-webkit-box-flex: 1.5;
	-moz-flex: 1.5;
	-moz-box-flex: 1.5;
	-ms-flex: 1.5;
	flex: 1.5;
}
.flex-4-3 {
	-webkit-flex: 1.3333;
	-webkit-box-flex: 1.333;
	-moz-flex: 1.3333;
	-moz-box-flex: 1.3333;
	-ms-flex: 1.3333;
	flex: 1.3333;
}
.flex-5-4 {
	-webkit-flex: 1.25;
	-webkit-box-flex: 1.25;
	-moz-flex: 1.25;
	-moz-box-flex: 1.25;
	-ms-flex: 1.25;
	flex: 1.25;
}
.flex-1-1 {
	-webkit-flex: 1;
	-webkit-box-flex: 1;
	-moz-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.flex-3-4 {
	-webkit-flex: 0.75;
	-webkit-box-flex: 0.75;
	-moz-flex: 0.75;
	-moz-box-flex: 0.75;
	-ms-flex: 0.75;
	flex: 0.75;
}
.flex-5-7 {
	-webkit-flex: 0.7143;
	-webkit-box-flex: 0.7143;
	-moz-flex: 0.7143;
	-moz-box-flex: 0.7143;
	-ms-flex: 0.7143;
	flex: 0.7143;
}
.flex-2-3 {
	-webkit-flex: 0.6667;
	-webkit-box-flex: 0.6667;
	-moz-flex: 0.6667;
	-moz-box-flex: 0.6667;
	-ms-flex: 0.6667;
	flex: 0.6667;
}
.flex-9-16 {
	-webkit-flex: 0.5625;
	-webkit-box-flex: 0.5625;
	-moz-flex: 0.5625;
	-moz-box-flex: 0.5625;
	-ms-flex: 0.5625;
	flex: 0.5625;
}
.cr-iframe {
	position: relative;
	width: 100%;
	height: 35vw;
	min-height: 300px;
	margin-bottom: 20px;
}
.cr-iframe > iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
.outline {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border: solid 1px #ccc;
}

/*XXL screen*/
/*@media screen and (min-width:1441px) {
	#outercontainer {
		width: 1290px;
	}
	.img-thumb {
		max-width: 1290px;
		max-height: 726px;
	}
	.img-grid {
		width: 1310px;
	}
	.img-grid img {
		max-width: 307px;
	}
	p, ol, ul {
	width: 70%;
	}
	.article > p:not(.right), .article > ol:not(.right), .article > ul:not(.right), .article > .h2 {
		margin-left: 15%;
		margin-right: 15%;
	}
}*/
/*XL screen*/
@media screen and (min-width:1025px) {
	#outercontainer {
		width: 960px;
	}
	.img-thumb {
		max-width: 960px;
		max-height: 540px;
	}
	.img-grid {
		width: 980px;
	}
	.img-grid img {
		max-width: 306px;
	}
	p, ol, ul {
	width: 80%;
	}
	.article > p:not(.right), .article > ol:not(.right), .article > ul:not(.right), .article > .h2 {
		margin-left: 10%;
		margin-right: 10%;
	}
}
/*L tablet (landscape)*/
@media screen and (min-width:801px) and (max-width:1024px) {
	#outercontainer {
		width: 800px;
	}
	.img-thumb {
		max-width: 800px;
		max-height: 450px;
	}
	.img-grid {
		width: 820px;
	}
	.img-grid img {
		max-width: 390px;
	}
}
/*M tablet (portrait)*/
@media screen and (min-width:601px) and (max-width:800px) {
	#outercontainer {
		width:600px;
	}
	.img-thumb {
		max-width: 600px;
		max-height: 338px;
	}
	.img-grid {
		width: 620px;
	}
	.img-grid img {
		max-width: 290px;
	}
}
/*S phone (landscape)*/
@media screen and (min-width:415px) and (max-width:600px) {
	#outercontainer {
		width: 400px;
	}
	.img-thumb {
		max-width: 400px;
		max-height: 225px;
	}
	.img-grid {
		width: 420px;
	}
	.img-grid img {
		max-width: 190px;
	}
}
/*XS phone (portrait)*/
@media screen and (max-width:414px) {
	#outercontainer {
		width: 98%;
	}
	.img-thumb {
		max-width: 480px;
		max-height: 270px;
	}
	.img-grid {
		width: 98%;
	}
	.img-grid img {
		max-width: 45%;
	}
}