@font-face {
    font-family: 'DidactGothicMedium';
        src: url('/assets/fonts/didact-gothic/4e262e7a846d97a38c8cbb30091e6ab1/cf5117a628442430319eed60e1efdb30/DidactGothicMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'DidactGothicRegular';
        src: url('/assets/fonts/didact-gothic/7fe50f6001d2b721023972398c04ddf3/a663e297048580829c16123c67d67289/DidactGothicRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

 /* The following rules are deprecated. */ 

@font-face {
    font-family: 'Didact Gothic';
        src: url('/assets/fonts/didact-gothic/4e262e7a846d97a38c8cbb30091e6ab1/cf5117a628442430319eed60e1efdb30/DidactGothicMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Didact Gothic';
        src: url('/assets/fonts/didact-gothic/7fe50f6001d2b721023972398c04ddf3/a663e297048580829c16123c67d67289/DidactGothicRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

